<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL shortner</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>URL shorter</h1>
      <form action="" method="post">
        <label for="fullUrl">URL</label>
        <input type="url" name="url" id="fullUrl" />
        <button type="submit">SHRINK</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="www.google.com">www.google.com</a></td>
            <td><a href="www.google.com"> google.com</a></td>
            <td>10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
